/.env
vendor/
deploy
_dev/environment/databases/**/data/*
_dev/deployment
/Packages/*
Repos/*
_dev/environment/certificates/certbot/conf
_dev/environment/certificates/certbot/credentials.ini
!_dev/environment/editor/theia/plugins/.gitkeep
_dev/environment/editor/theia/plugins
_dev/environment/security/zaproxy/reports/*
!_dev/environment/security/zaproxy/reports/.gitkeep