_mysites/docker/logs*
_mysites/vendor/*
_mysites/console/bin/.files/cache/*
/Sites/*/vendor/*
/Sites/**/wp-config*
/Sites/**/configuration.php


##
##REMOVE AFTER TESTING
.github/*
/Projects/*
/Sites/*
docker-compose.yml