<VirtualHost *:8443>
    ServerAdmin webmaster@alpha.test
    DocumentRoot /opt/repos/__PROJECT__/Sites/public
    ServerName __PROJECT__.localhost

    SSLEngine on
    ServerAlias localhost default.localhost

    SSLCertificateFile /usr/local/apache2/conf/server.crt
    SSLCertificateKeyFile /usr/local/apache2/conf/server.key

    <Directory /opt/repos/__PROJECT__/Sites/public/>
       Options Indexes FollowSymLinks
       AllowOverride All
       Require all granted
    </Directory>

    ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://${FPM_HOST}/opt/repos/__PROJECT__/Sites/public/$1

    # dockerfile needs to create and assign permissions to user and group
    ErrorLog  /var/log/apache2/error.log
    CustomLog /var/log/apache2/access.log combined
</VirtualHost>
