/**
 * Style the new Joomla modals
 * ===========================
 * By default we only get a very small modal window
 * Overriding styles make sure we get the most space out of it (at least on our views)
 */
.k-joomla-modal-override-j3 {
  opacity: 1;
  width: 1280px !important;
  max-width: 90% !important;
  height: 900px !important;
  max-height: 90% !important;
  left: 50% !important;
  top: 50% !important;
  bottom: auto !important;
  transform: translate(-50%, -50%) !important;
  transition: none !important;
  transition: all 180ms cubic-bezier(0.2, 0.57, 0.44, 0.83);
  -webkit-backface-visibility: hidden;
}
.k-joomla-modal-override-j3.mce-in {
  padding: 0 !important;
}
.k-joomla-modal-override-j3 + #mce-modal-block.mce-in.mce-in {
  opacity: 0.8;
}
.k-joomla-modal-override-j3 .mce-reset,
.k-joomla-modal-override-j3 .mce-window-body.mce-window-body {
  width: 100% !important;
  height: 100% !important;
  transition: all 180ms cubic-bezier(0.2, 0.57, 0.44, 0.83);
  -webkit-backface-visibility: hidden;
}
.k-joomla-modal-override-j3 .mce-reset {
  display: table;
  width: 100%;
  height: 100%;
  transition: all 180ms cubic-bezier(0.2, 0.57, 0.44, 0.83);
  -webkit-backface-visibility: hidden;
}
.k-joomla-modal-override-j3 .mce-reset .mce-window-head.mce-window-head {
  display: table-row;
  padding: 0;
  white-space: nowrap;
  height: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.k-joomla-modal-override-j3 .mce-reset .mce-window-head.mce-window-head .mce-close {
  width: 46px;
  height: 46px;
}
.k-joomla-modal-override-j3 .mce-reset .mce-title {
  padding: 13px !important;
  font-weight: 400 !important;
  background: #f0f0f0 !important;
  color: #222222 !important;
  font-size: 21px !important;
  border-bottom: 1px solid #d2d2d2 !important;
}
.k-joomla-modal-override-j3 .mce-reset .mce-window-body.mce-window-body {
  display: table-row;
  padding-top: 0;
  padding-left: 0;
}
.k-joomla-modal-override-j3 .mce-reset .mce-foot.mce-foot {
  display: none;
}
.k-joomla-modal-override-j3 .mce-dragh {
  display: none !important;
}
.k-joomla-modal-override-j3 > #sbox-content > iframe {
  width: 100% !important;
  height: 100% !important;
}

/**
 * Joomla 4
 */
.k-joomla-modal-override-j4 .modal-body {
  padding: 0;
}
.k-joomla-modal-override-j4 .modal-footer {
  display: none;
}