[mysqld]
max-allowed-packet=16M

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[mysqldump]
user=root
password="root"
host=127.0.0.1

[mysqldiff]
user=root
password="root"
host=127.0.0.1